%div{ class: "span12" }
  %div{ class: "header" }
    %div{ class: "pull-left" }
      %h1 APIs
    %div{ class: "pull-right" }
      %div{ class: "span2" }
        = link_to "New API", new_api_path, class: "btn btn-large btn-block btn-primary action"

  %ul{ class: "breadcrumb" }
    %li
      = link_to "Home", root_path
      %span.divider
    %li.active
      APIs
      %span.divider
