%div{ class: "span12" }
  %div{ class: "row" }
    %div{ class: "header" }
      %div{ class: "pull-left" }
        %h1
          API - 
          = @api.name
      %div{ class: "pull-right" }
        %div{ class: "span2" }
          = link_to "Edit", edit_api_path, class: "btn btn-large btn-block btn-primary action"


    %ul{ class: "breadcrumb" }
      %li
        = link_to "Home", root_path
        %span.divider
      %li
        = link_to "APIs", apis_path
        %span.divider
      %li.active
        Show API
        %span.divider
