%div{ class: "navbar navbar-inverse navbar-static-top" }
  %div{ class: "navbar-inner" }
    %div{ class: "container" }

      #logo
        = link_to "Intermediary", root_path


      %div{ class: "nav-collapse" }
        %ul{ class: "nav" }
          %li
            = link_to "Home", root_path
          %li
            = link_to "APIs", apis_path

        %form{ class: "navbar-form pull-right search" }
          = search_field_tag :search, nil, placeholder: "Search for APIs..."
