%div{ class: "navbar navbar-inverse navbar-static-top" }
  %div{ class: "navbar-inner" }
    %div{ class: "container" }
      %ul{ class: "nav" }
        %li
          = link_to "Home", root_path
        %li
          = link_to "APIs", apis_path
